@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url("Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url("Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
}
