.rdw-editor-main {
    border: 1px solid #BAC3CB;
    border-radius: 6px;
}

.rdw-option-wrapper {
    margin: 0 !important
}

.rdw-option-wrapper:hover {
    background-color: rgba(32, 33, 36, 0.122);
}

.DraftEditor-editorContainer {
    padding: 15px;
    height: 200px !important;
    overflow: auto;
}

.public-DraftStyleDefault-block {
    margin: 0 !important;
}

.preview_editor-content p {
    margin: 0
}

.rdw-editor-toolbar {
    border: none !important;
    padding: 0 !important
}