/**
Basic Table Styles
 */
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

table.simple {
  width: 100%;
  border: none;
  border-spacing: 0;
  text-align: left;
}

table.simple thead tr th {
  padding: 16px 8px;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  white-space: nowrap;
}

table.simple thead tr th:first-child {
  padding-left: 24px;
}

table.simple thead tr th:last-child {
  padding-right: 24px;
}

table.simple tbody tr td {
  padding: 16px 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

table.simple tbody tr td:first-child {
  padding-left: 24px;
}

table.simple tbody tr td:last-child {
  padding-right: 24px;
}

table.simple tbody tr:last-child td {
  border-bottom: none;
}

table.simple.clickable tbody tr {
  cursor: pointer;
}

table.simple.clickable tbody tr:hover {
  background: rgba(0, 0, 0, 0.03);
}

.rt-tbody,
.rt-thead {
  overflow-x: hidden !important;
 
}
.ReactTable {
  border-radius: 6px;
}

/* frozen column magic */

.frozen {
  order: -1;
  position: relative;
  left: 0;
  background: hsl(0, 73%, 97%);
  transition: left 0.2s;
  margin-right: 1px;
  font-weight: bold;
  border-bottom: 1px solid #f8f8f8;
  
}
.header_layout {
  background: #FDF2F2;
  font-weight: bold;
  
  
}

.cell_frozen {
  order: -1;
  position: relative;
  left: 0;
  background: #ffffff;
  transition: left 0.2s;
  margin-right: 1px;
  border-bottom: 1px solid #f8f8f8;
  box-shadow: rgba(100, 100, 111, 0.2) 5px 0 5px -1px;
  
}

.rt-th.frozen {
  border-bottom: 1px solid #f8f8f8;
}


.rt-th.cell_frozen {
  border-bottom: 1px solid #f8f8f8;
}
